
<div class="row">

	<section id="sidebar" class="col-md-3 visible-lg">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Steps</h3>
		  </div>
		  <div class="panel-body">
		  	<ul class="nav nav-pills nav-stacked" id="side-nav">
		  	</ul>	
		  </div>
		</div>
	</section>

	<section id="main" class="col-md-8">
		<div class="row">
			<div id="step" class="col-md-12">
			</div>
		</div>
	</section>

</div>