<form role="form" method="post" action="/submit-data" type="multipart/form-data">
	<label for="files">Choose a CSV file to upload</label>
	<input type="file" name="file" id="files">
	<div class="row">
		<div id="settings" class="col-md-12">
		</div>
	</div>
</form>