
<% if(!file) { %>
	<form role="form" method="post" action="/submit-data" type="multipart/form-data">
		<label for="files">Choose a CSV file to upload</label>
		<input type="file" name="file" id="files">
		<label id="status"></label>
	</form>
<% } else { %>
	<p>File Loaded: <%=file.name%></p>
	<button type="button" id="new-file" class="btn btn-primary btn-sm">Change File</button>
<% } %>